JWT_SECRET= 

DEV_DB_PASSWORD= 1234
DEV_DB_HOST= 127.0.0.1
DEV_DB_PORT= 3306
DEV_DB_USERNAME= root
DEV_DB_DATABASE= saju_dev_db

TEST_DB_PASSWORD= 
TEST_DB_HOST= 
TEST_DB_USERNAME= 
TEST_DB_DATABASE= 

PROD_DB_HOST= 
PROD_DB_PASSWORD= 
PROD_DB_USERNAME= 
PROD_DB_DATABASE= 

PROD_DB_WRITER_HOST= 
PROD_DB_READER_HOST=


